{% if DISPLAY_PAGES_ON_MENU -%}
<nav id="main-nav">
  <ul>
    {% for page in pages %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
