@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("font-files/Inter-upright.var.woff2?v=3.3") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("font-files/Inter-italic.var.woff2?v=3.3") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #eee;
  color: #000;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var';
    font-feature-settings: 'ss01' 1;
  }
}
@media screen and (max-width: 1040px) {
  body {
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
    margin: 0 20px;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 1.2em 0 0 0;
  font-weight: normal;
  display: block;
}
@media screen and (max-width: 620px) {
  h3 {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: #bf0222;
  -webkit-transition: border .25s linear;
  -moz-transition: border .25s linear;
  -ms-transition: border .25s linear;
  transition: border .25s linear;
  outline: none;
}

a:hover {
  border-bottom: 1px solid #bf0222;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header, footer, section {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  header, footer, section {
    width: 100%;
  }
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

header {
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1040px) {
  header {
    height: auto;
    position: relative;
    padding-bottom: 10px;
  }
}
header a {
  color: #000;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header a:hover {
  color: #258fb8;
  border-bottom: none;
}
header h1 {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
header h4 {
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
  font-size: 32px;
}
@media screen and (max-width: 1040px) {
  header h4 {
    float: none;
  }
}

#main-nav {
  display: inline-block;
}
@media screen and (max-width: 1040px) {
  #main-nav {
    float: none;
    margin-left: 0;
    margin-top: 15px;
  }
}
#main-nav > ul > li {
  margin-left: 50px;
  vertical-align: bottom;
  display: inline;
}
@media screen and (max-width: 1040px) {
  #main-nav > ul > li {
    margin-left: 0;
    margin-right: 50px;
  }
  #main-nav > ul > li:last-of-type {
    margin-right: 0;
  }
}
#main-nav > ul > li:hover > a {
  color: #258fb8;
  border-bottom: none;
}
#main-nav > ul > li > a {
  padding: 38px 0;
  margin-top: -38px;
}
#main-nav > ul > li > a:after {
  content: "\f078";
  color: #ccc;
  font: 12px FontAwesome;
  padding-left: 10px;
}
#main-nav > ul > li > a:only-child:after {
  content: "";
}
@media screen and (max-width: 1040px) {
  #main-nav > ul > li > a {
    padding: 18px 0;
  }
}
#main-nav > ul ul {
  position: absolute;
  top: 60px;
  left: -15px;
  z-index: 10;
  white-space: nowrap;
  background: #ddd;
  border: 1px solid #ccc;
  list-style: none;
  display: none;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 1040px) {
  #main-nav > ul ul {
    top: 40px;
  }
}
#main-nav > ul ul ul {
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 5px;
}
#main-nav > ul ul li {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
#main-nav > ul ul li:hover {
  background: #d5d5d5;
}
#main-nav > ul ul li:first-of-type {
  border-top: none;
}
#main-nav > ul ul li:first-of-type ul {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
#main-nav > ul ul li:last-of-type {
  border-bottom: none;
}
#main-nav > ul ul li > a {
  display: block;
  padding: 5px 15px;
}
#main-nav > ul ul li > a:after {
  content: "\f054";
  color: #333;
  font: 12px FontAwesome;
  padding-left: 10px;
}
#main-nav > ul ul li > a:hover {
  color: #000;
}
#main-nav > ul ul li > a:only-child:after {
  content: "";
}
#main-nav > ul ul ul {
  top: 0;
  left: 100%;
}
#main-nav > ul li {
  position: relative;
}
#main-nav > ul li:hover > ul {
  display: block;
}
#main-nav select {
  display: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  #main-nav select {
    display: block;
  }
}

@media screen and (max-width: 1040px) {
  #sub-nav {
    position: absolute;
    top: 30px;
    right: 0;
  }
}
#sub-nav .search {
  float: left;
  margin-top: 1px;
  position: relative;
}
@media screen and (max-width: 1040px) {
  #sub-nav .search {
    float: none;
    margin-top: 15px;
  }
}
#sub-nav .search:before {
  content: "\f002";
  color: #ccc;
  font: 18px FontAwesome;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 125px;
}
#sub-nav .search input[type="text"] {
  background: #f2f2f2;
  color: #333;
  border: 1px solid #ddd;
  font: 13px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Arial, sans-serif;
  padding: 6px 15px 6px 35px;
  width: 100px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
#sub-nav .search input[type="text"]:focus, #sub-nav .search input[type="text"]:active {
  background: #fff;
  border-top: 1px solid #ccc;
  color: #000;
  outline: none;
}
#sub-nav .social {
  float: left;
  margin-right: 15px;
}
@media screen and (max-width: 1040px) {
  #sub-nav .social {
    float: none;
    margin-right: 0;
  }
  #sub-nav .social a:last-of-type {
    margin-right: 0;
  }
}
#sub-nav .social a {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-indent: -9999px;
  margin-right: 15px;
  opacity: 0.5;
  width: 28px;
  height: 28px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#sub-nav .social a:hover {
  opacity: 1;
}
#sub-nav .social a.rss {
  background: url('/images/social/rss.png?1420225067') center no-repeat #EF7522;
  border: 1px solid #EF7522;
}
#sub-nav .social a.rss:hover {
  border: 1px solid #cf5d0f;
}

#pagenavi {
  padding: 20px 0;
  height: 20px;
  line-height: 20px;
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

article {
  padding: 0 0 60px 0;
  position: relative;
}
article.index {
  padding-bottom: 25px;
}
@media screen and (max-width: 620px) {
  article {
    padding-bottom: 15px;
  }
  article.index {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 620px) {
  article {
    padding: 15px 0;
  }
}
article.index .read-more {
   margin: 10px 0px;
}
article.index .meta {
   margin-bottom: 5px;
}
article h2.title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
  margin-left: 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
article.index h2.title {
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
article h2.title a {
  color: #000;
}
article h2.title a:hover {
  color: #258fb8;
  border-bottom: 0px;
}
@media screen and (max-width: 620px) {
  article h2.title {
    font-size: 18px;
  }
}
article .entry-content {
  line-height: 1.5;
  text-align: left;
}
article .entry-content a {
  text-decoration: none;
  color: #bf0222;
  -webkit-transition: border .25s linear;
  -moz-transition: border .25s linear;
  -ms-transition: border .25s linear;
  transition: border .25s linear;
  outline: none;
}
article .entry-content a:link, article .entry-content a:visited {
  border-bottom: 1px solid rgba(191, 2, 34, 0);
}
article .entry-content a:hover {
  border-bottom: 1px solid #bf0222;
}
article .entry-content .more-link {
  display: block;
  margin-top: 16px;
  padding-left: 30px;
  position: relative;
  border-bottom: 0px;
}
article .entry-content .more-link:before {
  content: "\f061";
  font: 1.3em FontAwesome;
  line-height: 1.6em;
  position: absolute;
  left: 0;
}
article .entry-content ul, article .entry-content ol, article .entry-content dl {
  margin-left: 20px;
}
article .entry-content ul ul, article .entry-content ul ol, article .entry-content ul dl, article .entry-content ol ul, article .entry-content ol ol, article .entry-content ol dl, article .entry-content dl ul, article .entry-content dl ol, article .entry-content dl dl {
  margin-top: 0;
}
article .entry-content strong {
  font-weight: bold;
}
article .entry-content em {
  font-style: italic;
}
article .entry-content p {
  margin-top: 10px;
  text-align: justify;
}
article .entry-content h2 {
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  position: relative;
}
article .entry-content h2:before {
  content: "";
  position: absolute;
  bottom: -2px;
  border-bottom: 1px solid #fff;
  width: 100%;
}
article .entry-content img, article .entry-content video {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  border-bottom: 0px;
  margin-top: 5px;
}
article .entry-content blockquote {
  background: #ddd;
  border-left: 5px solid #ccc;
  padding: 15px 20px;
  margin-top: 10px;
}
article .entry-content blockquote > p:first-of-type {
  margin-top: 0;
}
article .entry-content iframe {
  border: none;
}
article .entry-content table {
  background: #ddd;
  border: 1px solid #ccc;
  border-spacing: 0;
  margin-top: 10px;
}
article .entry-content table th {
  background: #ccc;
  padding: 0 15px;
}
article .entry-content table td {
  text-align: center;
}
article .entry-content table tr:nth-of-type(2n) {
  background: #d5d5d5;
}
article .entry-content .caption {
  display: block;
  font-size: 0.9em;
  color: #333;
  padding-left: 25px;
  position: relative;
}
article .entry-content .caption:before {
  content: "\f040";
  color: #ccc;
  font: 1.3em FontAwesome;
  line-height: 1.6em;
  position: absolute;
  left: 0;
}
article .entry-content .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .entry-content .video-container iframe, article .entry-content .video-container object, article .entry-content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.share {
  padding: 15px 0;
  padding-left: 260px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 620px) {
  .share {
    padding-left: 0px;
  }
}

.post .meta {
  margin-top: 10px;
  line-height: 2;
  font-size: 0.9em;
  color: #333;
}
@media screen and (max-width: 620px) {
  .post .meta {
    margin-top: 15px;
    position: static;
    width: auto;
  }
}
.post .meta a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: border .25s linear;
  -moz-transition: border .25s linear;
  -ms-transition: border .25s linear;
  transition: border .25s linear;
  outline: none;
}
.post .meta a:link, .post .meta a:visited {
  border-bottom: 1px solid rgba(191, 2, 34, 0);
}
.post .meta a:hover {
  border-bottom: 1px solid #bf0222;
}
.post .meta .date, .post .meta .tags, .post .meta .category {
  padding-left: 30px;
  line-height: 1.8em;
  display: inline;
}
.post .meta .date:before, .post .meta .tags:before, .post .meta .category:before {
  color: inherit;
  left: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
}
@media screen and (max-width: 620px) {
  .post .meta .date, .post .meta .tags, .post .meta .category {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 30px;
  }
}
.post .meta .date:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXElEQVQ4T2NkYGD4zwABjFAaxodyUSh0NYwgAXwasBmCLDaIDID5jZCTkeVBXod7geoGIMcMPjZOF1BsADFhgREGxNoKS3TUN4AYZ+ONRmK8QFsDKPICqZph6hkB6LsxEUTbcgsAAAAASUVORK5CYII=);
  content: "";
}
.post .meta .tags:before {
  width: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAAAxElEQVQ4T63TgREBMRCF4f860IES0AGVGB3oABVQgk7QAR0oQQfMM1lDko3kuJmbyV6SL5vZvY7yMwa2wASYhqWKbRzvPncFT9gB0BoDFA9KOXhgL0wH5cBabAOsw7uyrGOwFouTuefAFkz7lZ1lmWTYirl10ZX/hgEngXtgDizC2OIvLZpMX9ReAtVXR2AIzIBriEcN4hMDblblX9AXFpe+D/qB5Rq7BU0w70+pQbOYB+p7CXWxEmjoDliqeuGQ9zjbBA8ImDyqBTqeGgAAAABJRU5ErkJggg==);
  content: "";
}
.post .meta .category:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAoElEQVQ4T63TYRGCQBCG4ZcEYgMrmMAhgZLACEADKtiABkADGigRbAAJYL4Z1h8ODuyc9/fme3bv9i4icEWBeQRMX8gAJMBrD74GKLcb+QVsFf8c/W/AGzhtlV3btw5aoASeTqQ3oFg6yJxAYYDG1gAHJ3A0IAVqZ1jHvgnolrlfnYCKNgIq4O4Mj0CsjHVwcQIPIDdAz9Z7eWf7K8G/cQaC5R5hkmLLaAAAAABJRU5ErkJggg==);
  content: "";
}

footer {
  padding: 15px 0;
  text-align: center;
  font-size: 0.9em;
}

article code, article pre {
  background: #ddd;
  border: 1px solid #ccc;
  font-family: monospace;
}
article code {
  color: #bf0222;
  font-size: 0.9em;
  padding: 1px 3px;
  margin: 0 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
article pre {
  font-size: 0.9em;
  line-height: 1.5;
  margin-top: 10px;
  padding: 5px 15px;
  overflow-x: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
article pre code {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}


sup, sub {
  padding: 0 0.2em;
  display: inline;
  font-size: 80%;
}

.footnotes {
  font-size: 80%;
  margin-top: 10px;
}
.footnotes hr {
  border-width: 1px 0px 0px;
  border-style: dotted;
  width: 30%;
}

body div.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-radius: 4px 4px 4px 4px;
  margin: 20px 0px;
}

body div.alert-info strong {
  color: #3A87AD;
}

article .entry-content ol.simple-footnotes {
   font-size: 12px;
   margin-top: 10px;
   padding-top: 10px;
   margin-left: 0px;
   padding-left: 20px;
   border-top: 1px solid #ddd;
}
