<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}{% endblock %}{{ SITENAME }}</title>

    <meta name="author" content="{{ AUTHOR }}">

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}?{{ ASSETS_VERSION }}">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css?{{ ASSETS_VERSION }}">

    <link rel="icon" href="{{ SITEURL }}/images/favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if FEED_ALL_ATOM -%}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% include '_includes/analytics.html' %}
  </head>
  <body>
      <header>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        {% include '_includes/sidebar.html' %}
      </header>
      <section>
      {% block content %}

      {% endblock %}
      </section>
      <footer>
        <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> license</p>
      </footer>
  </body>
</html>
